### MANAGED BY PUPPET ###


[mysql]
user=root
host=localhost
password='strongpassword'
socket=/var/run/mysqld/mysqld.sock

[client]
user=root
host=localhost
password='strongpassword'
socket=/var/run/mysqld/mysqld.sock

[mysqldump]
user=root
host=localhost
password='strongpassword'
socket=/var/run/mysqld/mysqld.sock

[mysqladmin]
user=root
host=localhost
password='strongpassword'
socket=/var/run/mysqld/mysqld.sock

[mysqlcheck]
user=root
host=localhost
password='strongpassword'
socket=/var/run/mysqld/mysqld.sock

